<!DOCTYPE html>
<html>
<head>
	<title>To-Do List</title>
</head>
<body>
	<h1>To-Do List</h1>
	<ul>
	{% for task in tasks %}
		{% if task['completed'] %}
			<li><del>{{ task['name'] }}</del> <a href="{{ url_for('incomplete', index=loop.index-1) }}">  &nbsp &nbsp (Undo)</a> <a href="{{ url_for('delete', index=loop.index-1) }}"> &nbsp &nbsp (Delete)</a></li>
		{% else %}
			<li><a href="{{ url_for('complete', index=loop.index-1) }}">{{ task['name'] }}&nbsp &nbsp  (Done)</a> <a href="{{ url_for('delete', index=loop.index-1) }}">&nbsp &nbsp(Delete)</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<form method="POST" action="{{ url_for('add') }}">
		<label for="task">New Task:</label>
		<input type="text" name="task" id="task">
		<button type="submit">Add Task</button>
	</form>
		  
</body>
</html>
